@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/Avenir Next.ttc');
    src: local('Avenir Next'),
        local('Avenir-Next');

}


body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
        "main"
        "footer";
}



.eventImage{
    width: 100%;
    height: auto;
}

.icon-bar {
    position: fixed;
    bottom: 0;
  width: 95%;
  background-color: #FF634A;
  overflow:scroll;
    margin-bottom: 10px;


}

.icon-bar a {
  float: left;
  text-align: center;
  width: 20%;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;

}

.icon-bar a:hover {
  background-color: #CC280E;
}

.active {
  background-color: #FF3112;
}

h1{
    font-family: 'Avenir Next', sans-serif;
    font-size: 6vw;
}

h2{
    font-family: 'Avenir Next', sans-serif;
    font-size: 5vw;
}

h3{
    font-family: 'Avenir Next', sans-serif;
    font-size: 4vw;
}

p{
    font-family: 'Avenir Next', sans-serif;
}

input[type=search] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border: 1px solid #000;
    border-radius: 20px;

    color: #fff;
    font-size 14px;

    margin: 0;
    padding: 3px 12px;
    height: 5vh;
    width: 25vw;
    margin-top: 0.25vh;
}

input[type=search]:focus {
    width: 75%;

    border-color: #FF3112;
    outline: 0 none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.search-icon{
    font-size: 8vw;

}

.main_menu {
    display: flex;
    margin: 2vw;
    border: 1px solid #ff3112;
    padding: 1vw;
}

.main_menu a {
    text-decoration: none;
    color: #FF3112;
    font-family: 'Avenir Next', sans-serif;
    flex: 1;
    border: 1px solid #ff3112;
    padding: 1.5vw;
    border-radius: 20px;
    text-align: center;
}


nav{
    display: flex;
    margin: 2vw;
}

.event_title{
    text-decoration: none;
    color: #ff3112;
    cursor: pointer;
}

a{
    text-decoration: none;

}

.logo{
    width: 20vw;
    height: auto;

}

.topbar{
  display: flex;
    flex-direction: row;
    background-color: #FF634A;
}

.page_title {
    padding-left: 50vw;
    text-align: center;
    padding-top: 1vh;
}

.search_bar{
    display: flex;
    flex-direction: row;
    padding: 1vw;
}

